# Flutter/Dart
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android-specific
# -----------------------
android/**/generated/
android/key.properties   # Contains sensitive signing info

# iOS/macOS-specific
# -----------------------
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
**/*.xcworkspace
!**/Runner.xcworkspace   # Do NOT ignore the main workspace

# Web-specific
# -----------------------
web/index.html.gz

# IDE/Editor-specific
# -----------------------
.idea/                   # IntelliJ/Android Studio
.vscode/                 # VS Code
*.iml
